In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import numpy as numpy
from tensorflow import keras
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
data = pd.read_csv('/content/drive/MyDrive/DATASETS/train.csv')
data.head()

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

# New Section

In [ ]:
X_train = data.drop(data[['label']],axis=1)
Y_train = data['label']

In [ ]:
X_train=X_train/255
Y_train=Y_train

In [ ]:
model = keras.Sequential([
    keras.layers.Dense(450, input_dim=(784), activation='relu'),
    keras.layers.Dense(100, activation='relu'),
    keras.layers.Dense(10, activation='sigmoid')
])
model.compile(optimizer='sgd',
              loss='sparse_categorical_crossentropy',
              metrics=['accuracy'])

model.fit(X_train, Y_train, epochs=15)

Epoch 1/15
1313/1313 [==============================] - 5s 3ms/step - loss: 0.6525 - accuracy: 0.8346
Epoch 2/15
1313/1313 [==============================] - 4s 3ms/step - loss: 0.3022 - accuracy: 0.9149
Epoch 3/15
1313/1313 [==============================] - 4s 3ms/step - loss: 0.2482 - accuracy: 0.9294
Epoch 4/15
1313/1313 [==============================] - 4s 3ms/step - loss: 0.2138 - accuracy: 0.9405
Epoch 5/15
1313/1313 [==============================] - 4s 3ms/step - loss: 0.1883 - accuracy: 0.9475
Epoch 6/15
1313/1313 [==============================] - 5s 4ms/step - loss: 0.1674 - accuracy: 0.9525
Epoch 7/15
1313/1313 [==============================] - 4s 3ms/step - loss: 0.1504 - accuracy: 0.9574
Epoch 8/15
1313/1313 [==============================] - 4s 3ms/step - loss: 0.1363 - accuracy: 0.9614
Epoch 9/15
1313/1313 [==============================] - 5s 4ms/step - loss: 0.1243 - accuracy: 0.9651
Epoch 10/15
1313/1313 [==============================] - 4s 3ms/step - loss: 0.1141 - accuracy: 0.9684
Epoch 11/15
1313/1313 [==============================] - 4s 3ms/step - loss: 0.1050 - accuracy: 0.9706
Epoch 12/15
1313/1313 [==============================] - 4s 3ms/step - loss: 0.0968 - accuracy: 0.9731
Epoch 13/15
1313/1313 [==============================] - 4s 3ms/step - loss: 0.0894 - accuracy: 0.9753
Epoch 14/15
1313/1313 [==============================] - 4s 3ms/step - loss: 0.0832 - accuracy: 0.9771
Epoch 15/15
1313/1313 [==============================] - 4s 3ms/step - loss: 0.0776 - accuracy: 0.9790